.form-footer {
    @media screen and (max-width: 1199px) {
        text-align: center;
    }
}

.form-footer__wrapper {
    // display: flex;
    // justify-content: space-between;

    display: flex;
    align-items: center;

    @media screen and (max-width: 1199px) {
        flex-direction: column;
    }
}

.form-footer__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $white-text-color;

    margin-bottom: 20px;
}

.form-footer__mail {
    width: 100%;
    height: 50px;
    padding-left: 16px;
    padding-right: 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: $hero-footer-bg-color;
    color: $white-text-color;

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        width: 358px;
    }

    @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 12px;
    }

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        color: rgba(255, 255, 255, 0.6);
    }
}

.form-footer__btn {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 700;

    width: 200px;

    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    padding: 10px 28px;
    overflow: hidden;

    border: transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: $accent-color;
    color: $white-text-color;

    transition: background-color 250ms $time-distribution-function, color 250ms $time-distribution-function;

    &:hover {
        background: $bg-color-white;
        color: $accent-color;

        &::before {
            transform: translateY(-24px);
        }

        &::after {
            transform: translateY(-37px);
        }
    }

    &::before {
        content: "";
        width: 24px;
        height: 24px;

        position: absolute;
        top: 13px;
        right: 28px;

        background: url(../images/system/icon-send-white.svg) no-repeat;

        transition: transform 250ms $time-distribution-function;
    }

    &::after {
        content: "";
        width: 24px;
        height: 24px;

        position: absolute;
        bottom: -24px;
        right: 28px;

        background: url(../images/system/icon-send-accent.svg) no-repeat;

        transform: translateY(24px);
        transition: transform 250ms $time-distribution-function;
    }
}
