$primary-text-color: #757575;
$title-color: #212121;
$accent-color: #2196f3;
$white-text-color: #ffffff;
$bg-color: #f5f4fa;
$header-logo-span: #000000;
$hero-footer-bg-color: #2f303a;
$bg-color-white: #fff;
$icon-current-color: #afb1b8;
$time-distribution-function: cubic-bezier(0.4, 0, 0.2, 1);

$familyRoboto: Roboto, sans-serif;
$familyRaleway: Raleway, sans-serif;

