.hero {
    max-width: 576px;
    padding: 118px 15px;
    margin-top: 72px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    background: $hero-footer-bg-color;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/content/hero-bg-480.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/content/hero-bg-480@x2.jpg");
    }

    @media screen and (min-width: 577px) {
        max-width: 959px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/content/hero-bg-768.jpg");

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url("../images/content/hero-bg-768@x2.jpg");
        }
    }

    @media screen and (min-width: 768px) {
        margin-top: 80px;
    }

    @media screen and (min-width: 960px) {
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/content/hero-bg-1200.jpg");

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url("../images/content/hero-bg-1200@x2.jpg");
        }
    }
}

.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $white-text-color;

    @media screen and (min-width: 960px) {
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero__btn {
    @extend%button;
    margin-top: 30px;
}
